<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Login ADM's</title>

        <!-- Inicio CSS -->
        <link rel="stylesheet" href="bootstrap5.0.1/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="bootstrap5.0.1/css/estilosLogin.css" type="text/css">
        <link rel="stylesheet" href="bootstrap4.1.1/css/bootstrap.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" /> 
        <!-- Fim CSS -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body id="telaFundo">

        <!-- Inicio JS -->
        <script>
            function showPass() {
                var show = document.getElementById("password");
                if (show.type === "password") {
                    show.type = "text";
                } else {
                    show.type = "password";
                }
            }
        </script>
        <!-- Fim JS -->

        <div class="container login-container">
            <div class="row">

                <div class="telaLogin login-form-1">
                    <h3>Login do ADM</h3>
                    <form action="" id="loginADMform">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite sua matricula *" value="" required="" />
                        </div>

                        <div class="form-group">
                            <input id="password" type="password" class="form-control" placeholder="Digite sua senha *" value="" minlength="8" maxlength="50" size="50" autocomplete="on"  required=""/>
                            <input type="checkbox" onclick="showPass()"> Mostrar senha
                         </div>

                            <div class="form-group">
                                <input id="btnADM" type="submit" class="btnSubmit" value="Acessar" />
                            </div>

                            <div class="form-group">
                                <input type="checkbox" id="checkboxADM" name="lembrarSenha" value="" >
                                <label id="checkboxADM" for="lembrarSenha"> Lembrar por 15 dias</label>       
                            </div>

                            <div class="form-group">
                                <a href="esqueciMinhaSenha.html" class="ForgetPwd">Esqueceu sua senha?</a>
                            </div>

                    </form>
                </div>
            </div>
    </body>
</html>