<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Seletor de vinculo</title>

        <!-- Inicio CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
              crossorigin="anonymous">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="css/estilosLogin.css" type="text/css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css" type="text/css"/>
        <link rel="stylesheet" href="css/estilosSelectLogin.css" type="text/css">
        <!-- Fim CSS -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body id="telaFundo">
        <form action="EkkoEnsino" method="post">
            <div class="card" id="telaLogin">
                <center><h3>Selecione seu vinculo</h3></center>
                <div class="entrada">
                    <input type="radio" name="opcao" VALUE="adm"> Administrador
                    <input type="radio" name="opcao" VALUE="aluEprof"> Aluno e Professor
                </div>  
            </div>    
        </form>
    </body>
</html>