<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title></title>

<!-- Inicio CSS -->
<link rel="stylesheet" href="bootstrap/css/styleNavbar.css">
<!-- Fim CSS -->

</head>

<body>

	<input type="checkbox" id="bt_menu">
	<label class="label1" for="bt_menu">&#9776;</label>


	<nav class="menu">
		<ul>
			<!-- Botão de inicio -->
			<li>
				<a href="/home">INÍCIO <svg width="18" height="18"
						fill="currentColor" class="bi bi-house-door-fill"
						viewBox="0 0 16 16">
  					    <path
							d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
				    </svg>
				</a>
			</li>

			<!-- Botão de contato-->
			<li>
				<a href="#">CONTATOS <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16">
					<path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" fill="#000"/>
					<path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z" fill="#000"/>
				  </svg>
				</a>
			</li>

			<li>
				<a href="#">Item 2
					<ul>
						<li>
							<a href="#">Sub-item</a>
						</li>
					</ul>
				</a>
			</li>

		</ul>
	</nav>

</body>

</html>